module.exports = {
	secret: '<put a good secret to secure your sessions here>',
	password: '<this is the password to log in>',
	documentFolderName: '<relative folder name to archive into>',
	queueFolderName: '<relative folder name to read from>',
	directoryBlacklist: ['@eaDir'],
	gpgPublicKeyId: '<id of your gpg public key to encrpyt with>',
	synologyAdminUserName: '<username that has access to the directories you want to access and can run gpg>',
	port: 7554
};