module.exports = {
	secret: '<put a good secret to secure your sessions here>',
	password: '<this is the password to log in>',
	documentFolderName: '<absolute folder name to archive into - when using Archiver in Docker, this would typically be /archiver-out>',
	queueFolderName: '<absolute folder name to read from - when using Archiver in Docker, this would typically be /archiver-in>',
	directoryBlacklist: ['@eaDir'],
	gpgPublicKeyId: '<id of your gpg public key to encrpyt with>',
	synologyAdminUserName: '<username that has access to the directories you want to access and can run gpg>',
	port: 8080
};