body {
  padding-top: 5rem;
}

.glowable {
	background-color: white;
	transition: background-color 2s linear;
}

.glowing {
	background-color: #f5da42 !important;
}

#newFileNameSuggestions {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}